# Python

### Intro

Nous voici sur Jupyter Notebook un logiciel 100% open-source.  
C'est un environnement de calcul interactif basé sur une interface web.  
Chaque cellules est independantes mais conserve les variables déclarer au préalable,  
elles peuvent contenir du code, du texte(brut) ou des markdown.  
Executer une cellule se fait soit par le bouton ▶ soit par le raccourcis Ctrl+Enter ou Shift+Enter.

### Tips

### 1)

il est possible grâce a "!" d'executer directement une commande   
dans le terminal dans le dossier courant
tester les commandes suivantes:

In [10]:
ls

 Le volume dans le lecteur C s'appelle OS
 Le num‚ro de s‚rie du volume est 6C71-E091

 R‚pertoire de C:\Users\nchar\Documents\Mirror\Ipssi\Python\nb_ipssi\nb_ipssi

28/09/2020  09:38    <DIR>          .
28/09/2020  09:38    <DIR>          ..
28/09/2020  09:24             6ÿ148 .DS_Store
28/09/2020  09:24    <DIR>          .ipynb_checkpoints
28/09/2020  09:24    <DIR>          images
28/09/2020  09:38            15ÿ242 Python_01.ipynb
               2 fichier(s)           21ÿ390 octets
               4 R‚p(s)  209ÿ931ÿ460ÿ608 octets libres

In [14]:
pip install pandas

Requirement already satisfied: pandas in c:\users\nchar\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\nchar\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\nchar\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\nchar\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\nchar\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd

### 2)

L'une des choses les plus utiles à propos des notebook  
est la complétion placer le curseur apres la parenthese puis  
- appuyer sur Shift+Tab 1 fois:  
    
<div align="center">
<img src="images/tab-once.png" width="75%">
</div>  

- appuyer sur Shift+Tab une seconde fois:
  
<div align="center">
<img src="files/images/tab-twice.png" width="75%">
</div>  

- appuyer sur Shift+Tab encore 2 fois:
  
<div align="center">
<img src="files/images/tab-4-times.png" width="90%">
</div>   
 
- essayez dans la cellule ci-dessous

In [ ]:
pd.read_csv(

Assez simplement vous aurez acces a la signature,  
la docstring, de la fonction voir meme quelques exemples  
si les createur de la librairie sont sympa

### 3)

Une autre facon assez simple d'explorer un objet python  
est de placer un point deriere l objet et de d'utiliser la touche Tab:

<div align="center">
<img src="files/images/function-completion.png" width="30%">
</div>  

- essayez dans la cellule ci-dessous

In [ ]:
pd.r

Si vous voulez plus de tips sur les differentes  
fonctionalité de jupyter notebook
essayez la commande suivantes :  
`%quickref`

## Partie 1

## les Variables

1) Créer les variable suivantes avec les differents types et leurs valeur:
   - nom de la variable : var1, type : integer, valeur : 123
   - nom de la variable : var2, type : float, valeur : 12.6
   - nom de la variable : var3, type : booléen, valeur : true
   - nom de la variable : var4, type : string, valeur : HELLO WORD
   - nom de la variable : var5, type : dictionnaire, valeur : vide
   - nom de la variable : var6, type : liste, valeur : 'bordeaux','lyon','paris','bordeaux'
   - nom de la variable : var7, type : tuple, valeur : true, 'paris', 167
   - nom de la variable : var8, type : set, valeur : 10,15,30

In [88]:
var1 = 123
var2 = 12.6
var3 = True
var4 = "Hello World"
var5 = dict()
var6 = ['bordeaux','lyon','paris','bordeaux']
var7 = (True,"paris",167)
var8 = set(['10','15','30'])
var = [var1,var2,var3,var4,var5,var6,var7,var8]

2) Tester et afficher leur type et  
  - ecrivez une courte definition de chacun des types.

In [86]:
for i in range(len(var)):
     print("var",i+1, "=", var[i], type(var[i]))
        
#definition type
#int : entier
#float : nombre decimal avec un point
#bool : valeur renvoyer par des test booleen, vrai ou faux
#str : chaine de caractere 
#list : variabe contenant plusieurs variables
#dict :variable contenant plusieurs variable sous forme de clé:valeur
#set : dictionnaire sans valeur, ensemble de clé, une collection
#tuple : collection ordonnée d'éléments qui ne peut plus etre modifié

var 1 = 123 <class 'int'>
var 2 = 12.6 <class 'float'>
var 3 = True <class 'bool'>
var 4 = Hello World <class 'str'>
var 5 = {} <class 'dict'>
var 6 = ['lyon', 'paris'] <class 'list'>
var 7 = (True, 'paris', 167) <class 'tuple'>
var 8 = {'10', '15', '30'} <class 'set'>

3) additionner la var1 et la var2  
  - puis additionner la var1 et var3  
  - que peut-on constater et pourquoi ?

In [41]:
var1 + var3
#On constate que l'on peut addition deux nombres de type differents en l'occurence un int et un float
#On constate aussi que l'on a peut additioner un booleen et un int car la valeur True a fait office de valeur 1 (False 0)

124

4) quel est la difference entre les types des variables:
  - var6, var7, var8

In [ ]:
#Les listes sont mutables,c 'est une collection d'articles commandée et les éléments de la liste peuvent être remplacés ou modifiés
#Les sets sont unensemble immuable, c'est une collection d'articles non ordonnée et les éléments de l'ensemble ne peuvent pas être modifiés ou remplacés
#Tuple est immuable, c'est une collection d'articles commandée et les éléments du tuple ne peuvent pas être modifiés ou remplacés

# 5) utiliser les methodes propre au string pour:
   - Passer la valeur de la var4 en minuscule et le reasigné a la var4
   - Passer la premiere lettre de chaque mot de la var4 en majuscule
   - Transformer cette variable en liste de mots

In [110]:
var4 = var4.lower()
print(var4)

TypeError: list indices must be integers or slices, not str

6) utiliser les methodes propre au liste pour:
   - Integrer les 4 premières une variables nommée var9.
   - Récupérer l'avant dernier élément de la liste
   - Créer une var10 qui contient les memes valeurs que var9
   - Additionner la var9 et la var10 quel est le resultat ? 
   
**Bonus:**
   - additioner les valeurs des deux listes de memes taille qui ne contiennent que des integer

In [107]:
var9 = []
for i in range(4):
     var9.append(var[i])
print(var9)

[123, 12.6, True, 'Hello World']

## les Boucles

1) iterer sur la var6 aficher les valeurs et leurs index et arretez l'iteration quand vous trouvez paris

In [58]:
for i in range(len(var6)):
    print(i,var6[i])
    if var6[i] == "paris" :
        break
print("fin", i)

0 bordeaux
1 lyon
2 paris
fin 2

2) iterer sur la var6 effacé l'element si il corespond a bordeaux

In [67]:
while 'bordeaux' in var6:
    var6.remove('bordeaux')
print(var6)

['lyon', 'paris']

3) interoger indefiniment l'utisateur jusqu'a ce que la valeur corresponde a ipssi

In [68]:
while 1:
    val = input("Tapez ipssi : ")
    if val == "ipssi":
        print("Fin")
        break

Tapez ipssi : ip
Tapez ipssi : p
Tapez ipssi : d
Tapez ipssi : s
Tapez ipssi : ipssi
Fin

4) iterer sur cette liste de liste/dictionnaire et afficher la somme du premier et dernier elements de chaque sous liste/dictionnaire

In [79]:
liste2liste = [[1,4,2],[3,7,2],[5,7,2],[1,4,8]]
liste2dictionnaire = [{"premier":12,"deuxieme":17,"dernier":23},
                      {"premier":7,"deuxieme":30,"dernier":60},
                      {"premier":2,"deuxieme":15,"dernier":37}]

for i in liste2dictionnaire:
    print(i["premier"]+i["dernier"])

35
67
39

5) iterer sur les deux listes precedentes et retourner la somme des deuxiemes valeurs de chaque sous liste

In [112]:
for i,j in zip(liste2liste,liste2dictionnaire):
    print(j["deuxieme"]+i[1])

21
37
22

**Bonus**  
  - expliquez pourquoi quand je modifie la liste_1 la liste_2 se modifie aussi?
  - comment pallier a ce probleme

In [80]:
liste_1 = [1,2,3,4]
liste_2 = liste_1
liste_2 += liste_1
print(liste_1)
print(liste_2)

[1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4]

## les Conditions

1) en partant de cette liste creer un dictionnaire  
qui a pour clef la valeur et comme valeur le nombre de fois qu'apparait la valeur

In [114]:
liste = ["fr","us","ng","us","fr","it","fr"]
dct = {} 
for item in liste:
    dct[item] = dct.get(item,0) + 1
print(dct)

{'fr': 3, 'us': 2, 'ng': 1, 'it': 1}

2) afficher la valeur correspondante a la clef si elle existe sinon afficher "la valeurs n'existe pas"

In [119]:
store = {"reddit":"330 million","tweeter":"330 million",'facebook':"2.7 milliard"}
val = input("entrer clé : ")
if val in store.keys():
    print(store[val])
else:
    print("la valeur n'existe pas")

entrer clé : erf
la valeur n'existe pas

3) laissez l'utilisateur rentrer son age et retourner:
  - enfant si -12
  - ado si -16
  - jeune adulte si -20
  - adulte -35
  - senior +60 <a/>  
  bien sûr persone ne devra avoir plusieur categorie

In [121]:
age=input("quel est ton âge ?")

if age <12 :
    print("enfant")
elif age < 16:
    print("ado")
elif age < 20:
    print("jeune adulte")
elif age < 35:
    print("adulte")
elif age > 60:
    print("senior")

quel est ton âge ?23

TypeError: '<' not supported between instances of 'str' and 'int'

## les Fonctions

1) creer une fonction qui retourne l'inverse d'un mot/phrase

2) creer une fonction qui fusionne 2 dictionnaire

3) creer une fonction qui prend 2 mot en mots en parametre et qui renvoie true si c'est un anagramme

4) creer un fonction qui prend en argument:
  - un operateur ()
  - une premiere valeur
  - une seconde valeur <a/>  
et retourne le resultat de l operation souhaité ou none si l'opération n'existe pas

**Bonus**  
  - mettez toutes ses fonctions dans un fichier externe et importez le comme un module